@{
    ViewBag.Title = "How we did it";
}
<h2>How we did it.</h2>
<h3>We used these technologies to accomplish our goal</h3>

<article>
    <h3>C# for the back end - fast prototyping</h3>
    <img src="https://cdn-images-1.medium.com/max/1200/0*JLPdbimCEnWB8qJL.png"/>
    
    <h3>HTML & CSS - The basics</h3>
    <img src="https://cdn-images-1.medium.com/max/1200/1*lJ32Bl-lHWmNMUSiSq17gQ.png"/>
    
    <h3>Bing maps - for visualisation</h3>
    <img src="https://searchengineland.com/figz/wp-content/seloads/2015/07/bing-maps-word5-ss-1920-800x450.png"/>
</article>

