@{
    ViewBag.Title = "How we did it";
}

<div class="container-fluid">
    <header id="about-main-header" class="page-header">
        <h1>The Approach To Our Solution</h1>
        <h3>We used these technologies to accomplish our goal</h3>
    </header>
</div>

<div class="container-fluid">
    <article>
        <section>
            <h3>C# For The Backend - For Fast Prototyping</h3>
            <img class="img-responsive center-block" src="https://cdn-images-1.medium.com/max/1200/0*JLPdbimCEnWB8qJL.png" />
        </section>

        <section>
            <h3>HTML & CSS - The Basics For The Frontend</h3>
            <img class="img-responsive center-block" src="https://cdn-images-1.medium.com/max/1200/1*lJ32Bl-lHWmNMUSiSq17gQ.png" />
        </section>

        <section>
            <h3>Bing Maps For Visualization</h3>
            <img class="img-responsive center-block" src="https://searchengineland.com/figz/wp-content/seloads/2015/07/bing-maps-word5-ss-1920-800x450.png" />
        </section>

        <section>
            <h3>MySQL Databases For Persistance</h3>
            <img id="mysqllogo" class="img-responsive center-block" src="~/hack_manchester/Content/Images/mysql-logo-scaled.png" />
        </section>
    </article>
</div>
