@{
    ViewBag.Title = "Contact";
}
<header class="page-header">
    <h2 class="text-center">@ViewBag.Title Us</h2>
</header>

<div class="container-fluid">
    <section>
        <h3>Anthony Haslett</h3>
        <p>Full Stack Engineer (Placement Student) at Stockport Council</p>
    </section>
    <section>
        <h3>Zacharias King</h3>
        <p>Full-Time Computer Science W/ Cyber Security Student</p>
    </section>
        <section>
        <h3>Aaron Harker</h3>
        <p>Full-Time Computer Science W/ Cyber Security Student</p>
    </section>
    <section>
        <h3>Adam</h3>
        <p>Full Stack Engineer</p>
    </section>
</div>

<img class="img-responsive" src=""/>

