
@{
    ViewBag.Title = "RTSTool";
}





<div id="map-RTSTool" class="container-fluid">
    <div id="myMap" style=""></div>
    
    <div id="userHelpRTS" class="alert alert-info" role="alert">
        <strong>Hello there!</strong> Welcome to the Road Travel Safety System built for the public to use to check road accidents and crimes near them based on data from the past AND present.
        <br />
        <br />
        <p><img src="~/Content/Images/sedan-car-model.png"> - indicates a recent traffic incident which you can hover over to retrieve more details</p>
        <p><img id="heatExample" src="~/Content/Images/heat.png"> - indicates an area where prevous incidents have taken place; the more intense the heat, the more incidents occured there.</p>
    
    <div id="inputForm" style="display:none;">
        <table>
            <tr><td colspan="2"></td></tr>
            <tr><td>Title</td><td><input id="titleTbx" type="text" /></td></tr>
            <tr><td>Description</td><td><input id="descriptionTbx" type="text" /></td></tr>
            <tr><td colspan="2"><input type="button" value="Save" onclick="saveData()" style="float:right;" /></td></tr>
        </table>
    </div>
</div>
    <script type="text/javascript">
        //Add a click event to the pushpin.
            Microsoft.Maps.Events.addHandler(currentPushpin, 'click', pushpinClicked);
            //Add the pushpin to the map.
            map.entities.push(currentPushpin);
            //Open up an input form here the user can enter in details for pushpin.
            document.getElementById('inputForm').style.display = '';
        
        function saveData() {
            //Get the data from form and add it to the pushpin
            currentPushpin.metadata = {
                title: document.getElementById('titleTbx').value,
                description: document.getElementById('descriptionTbx').value
            };
            //Optionally save this data somewhere (like a database or local storage).

            //Clear the fields in the form and then hide the form.
            document.getElementById('titleTbx').value = '';
            document.getElementById('descriptionTbx').value = '';
            document.getElementById('inputForm').style.display = 'none';
        }
        function pushpinClicked(e) {
            if (e.target.metadata) {
                infobox.setOptions({
                    location: e.target.getLocation(),
                    title: e.target.metadata.title,
                    description: e.target.metadata.description,
                    visible: true
                });
            }
        }
    </script>
